<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 5px;
        }
        </style>
</head>
<body>

<h1>Book list</h1>
<br>
<form action="">
    <label>Title</label>
    <input type="text" name="title"/><br>
    <label>Author</label>
    <input type="text" name="author_name"/><br>
    <br>
    <button type="submit">Filtrer</button>
</form>
</form>
<br>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Detail</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for a in page_obj %}
        <tr>
            <td>{{a.title}}</td>
            <td>{{a.owner}}</td>
            <td><a href="{{a.get_absolute_url}}">Detail</a></td>
            <td><a href="{{a.get_update_url}}">Update</a></td>
            <td><a href="{{a.get_delete_url}}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</table>
<br><br>


</body>
</html>
